.header{
    display: flex;
    width: 100%;
    height: 75px;
    background-color: #f1f1f1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}
body{
    margin: 0px;
}
.menu{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}
a{
    font-size: 36px;
    text-decoration: none;
    color: #616A6B;
    font-family: savate;
    font-weight: 300;
    transition: all 500ms ease-in;
}
a:hover{
    color: black;
    font-weight: 400;
}
.cart1{
    width: 75px;
    height: 75px;
    background-color: transparent;
    border: none;
    background-image: url(cart1.png);
    transition: all 500ms ease-in;
    background-size: cover;
    display: flex;
    position: relative;
}
.cart2{
    background-image: url(cart2.png);
}
.modalwindow{
    display: flex;
    align-items: center;
   justify-content: center;
    position: absolute;
    width: 600px;
    z-index: 2;
    margin-top: 600px;
    background-color: #000000;
}
.order{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background-color: #fab179;
    border: none;
    border-radius: 10px;
    color: white;
    font-family: oswald;
    font-size:40px;
    text-align: center;
    transition: all 500ms ease-in;
}
.cart1:hover{
    background-image: url(cart2.png);
}
.background{
    width: 100%;
    opacity: 70%;
    margin: 0px;
}
.introduction, .contacts{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.text{
    display: flex;
    position: absolute;
    color: #F7F7F7;
    font-size: 48px;
    word-wrap: break-word;
    width: 70%;
    text-align: center;
    font-family: playfair display;
}
.about{
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    color: #F7F7F7;
    font-size: 36px;
    font-family: playfair display;
    font-weight: 600;
    word-wrap: break-word;
    text-align: center;
    text-shadow: 
    2px 2px 0 rgb(103, 103, 103)
    ;
    width: 90%;
    text-align: center;
}
.marker{
    width: 70%;
    color: #fab179;
    text-shadow: 
    1px 1px 0 #ff8e38;
    font-family: oswald;
}
.ourcontacts{
    color: #fab179;
    text-shadow: 
    1px 1px 0 #ff8e38;
    font-family: oswald;
    font-size: 56px;
}
.questions{
    font-family: playfair display;
    font-size: 36px;
    color: #616A6B;
}
.welcome{
    display: flex;
    position: relative;
    text-align: center;
    font-size: 48px;
    font-family: oswald;
    margin-bottom: 20px;
    width: 70%;
}
.sections{
    margin-top: 20px;
    width: 100%;
    display: flex;
    gap: 20px;
}
.section{
    border: none;
    background-color: transparent;
    font-size: 28px;
    color: #616A6B;
    font-family: savate;
    font-weight: 300;
    transition: all 500ms ease-in;
}
.section:hover{
    color: black;
    font-weight: 400;
}
.line{
    width: 100%;
    height: 1px;
    background-color: #616A6B;
}
.food{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    gap: 50px;
    margin-left: 65px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    width: 350px;
    height: 500px;
    box-shadow: 2px 2px 4px #909090;
    border-radius: 20px;
    padding-bottom: 20px;
    background-color: white;
}
.image{
    width: 300px;
    margin-top: 25px;
}
.counter{
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.plus, .minus{
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    transition: all 200ms ease-in;
}
.buttons{
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.plus{
    background-image: url(add.png);
    background-size: cover;
}
.plus:hover{
    background-image: url(addhover.png);
}
.minus{
    background-image: url(delete.png);
    background-size: cover;
}
.minus:hover{
    background-image: url(deletehover.png);
}
.add, .delete{
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 200px;
    background-color: #fab179;
    font-family: oswald;
    font-size: 24px;
    color: white;
    transition: all 200ms ease-in;
}
.add:hover{
    background-color: #ff8e38;
}
.delete:hover{
    background-color: #ff8e38;
}
.order:hover{
    background-color: #ff8e38;
}
.title{
    font-family: Oswald;
    font-weight: 400;
    color: #616A6B;
}
.description{
    font-family: playfair display;
    font-weight: 400;
    color: #616A6B;
    margin-bottom: 0px;
}
.price{
    font-family: Oswald;
    font-weight: 400;
    color: #616A6B;
    width: 200px;
}
.hidden{
    display: none !important;
}
.swiper, .swiper2{
    display: flex;
    justify-content: center; 
}
.swiper2{
    margin-left: 100px;
}
.contactsdiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 150px;
    margin-top: 50px;
}
.contactdiv{
    display: flex;
    flex-direction: column;
}
.boxtitle{
    font-family: oswald;
    color: #000000;
    font-size: 28px;
    line-height: 0px;
    margin: 0px;
    margin-bottom: 30px;
}
.boxinformation{
    font-family: playfair display;
    color: #616A6B;
    font-size: 25px;
     line-height: 20px;
     margin-top: -2px;
}
.orderwindow{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 200px;
    width: 70%;
    height: 700px;
    z-index: 3;
    margin-top: 600px;
    background-color: #000000;
}
.close{
    background-color: red;
    color: white;
    font-weight: 900;
    font-size: 24px;
    font-family: oswald;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: none;
    margin: 30px;
}
.close:hover{
    background-color: darkred;
}
.divclosebutton{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.placeholder{
    color: #F7F7F7;
    font-family: oswald;
    font-size: 32px;
}
input{
    width: 200px;
    height: 40px;
    font-size: 32px;
    border-radius: 5px;
}
.inputs{
    margin-left: 30px;
}
.send{
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 200px;
    background-color: #fab179;
    font-family: oswald;
    font-size: 24px;
    color: white;
    transition: all 200ms ease-in;
    margin-top: 200px;
}
.send:hover{
    background-color: #ff8e38;
}
.swiperinput{
    display: flex;
    flex-direction: row;
}
.swiper2-button-prev{
    margin-left: 250px;
    margin-top: 100px;
}
.swiper2-button-next{
    margin-right: 450px;
    margin-top: 100px;
}
#totalprice{
    color: #F7F7F7;
}
.orderinfo{
    display: flex;
    position: absolute;
    margin-left: 800px;
    width: 300px;
    height: 300px;
}
.table{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    
}
#outputTable{
    border: 1px solid rgb(255, 255, 255);
    background-color: black;
    width: 600px;
    text-align: center;
    font-family: oswald;
    font-size: 26px;
}
td{
    border: 1px solid rgb(0, 0, 0);  
    
}
tr{
    background-color: #ffffff;
    height: 50px;
}
th{
     border: 1px solid rgb(0, 0, 0);  
}
.allorders{
    font-size: 48px;
     color: #616A6B;
}
@media (max-width: 690px) {
    a{
        font-size: 30px;
    }
}
@media (max-width: 630px) {
    a{
        font-size: 24px;
    }
}
@media (max-width: 950px) {
    .text{
        font-size: 36px;
    }
}
@media (max-width: 950px) {
    .text{
        font-size: 30px;
    }
}
@media (max-width: 1730px) {
    .food{
        gap: 40px;
    }
}
@media (max-width: 1260px) {
    .food{
        gap: 20px;
    }
}
@media (max-width: 1260px) {
    .food{
        gap: 20px;
    }
}
@media (max-width: 1211px) {
    .food{
        gap: 75px;
    }
    .questions{
        font-size: 30px;
    }
    .boxinformation{
        font-size: 20px;
    }
    .contactsdiv{
        gap: 125px;
    }
    .welcome{
        font-size: 36px;
    }
    .about{
        font-size: 24px;
    }
}
@media (max-width: 868px) {
    .food{
        gap: 20px;
    }
     .contactsdiv{
        gap: 10px;
    }
}
@media (max-width: 370px) {
    .section{
        font-size: 20px;
    }
    .questions{
            font-size: 18px;
        }
}
@media (max-width: 1050px) {
    .contactsdiv{
        gap: 80px;
    }
    .welcome{
        font-size: 30px;
    }
    .about{
        font-size: 18px;
    }
}
@media (max-width: 965px) {
    .contactsdiv{
        gap: 50px;
    }
    .questions{
            font-size: 24px;
        }
}
@media (max-width: 1355px) {
    .welcome{
        font-size: 40px;
    }
    .about{
        font-size: 28px;
    }
}
@media (max-width: 1060px) {
    .welcome{
        font-size: 32px;
    }
    .about{
        font-size: 20px;
    }
}
@media (max-width: 775px) {
    .welcome{
        font-size: 28px;
    }
    .about{
        font-size: 16px;
    }
}
@media (max-width: 655px) {
    .welcome{
        font-size: 24px;
    }
    .about{
        font-size: 12px;
    }
}